<% include header %>
<link rel="stylesheet" href="css/gangadhar.css">
 <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
   <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #006747;">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
             <a class="navbar-brand" href="#">About Me</a>
             <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
               <li class="nav-item">
                   <a class="nav-link active" href="/index">Home<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/tic-tac-toe">Tic-Tac</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/contact">Contact</a>
               </li>
             </ul>
           </div>
         </nav>
      
      <main>
        <div class="container-fluid">
         <div class="section_area">
            <div class="row">
              <!--<div class="section_content1"> -->
                <div class="col-xs-6 offset-xs-0 col-sm-8 offset-sm-2 col-md-5 offset-md-0 col-lg-4 offset-lg-0">
                    <div class="img_Sec">
                        <img class="rounded-circle" src="images/profile.jpg" alt="Smiley face" >
                    </div>
                  </div>
                <div class="col-md-7 col-lg-8">
                  <article>
                    <h2  class="header_transparent">header</h2>
                      <section class="section-header" id="current-section">
                        <h3 class="banner">Current</h3>
                        <p>I am a new member of the Fall 2018 Batch working on my Masters of Applied Computer Science. </p>
                      </section>
                      <section class="section-header" id="past-section">
                        <h3 class="banner">Background</h3>
                        <p class="" >I'm from India, worked as a Software Developer for 2 years in enterprise mobile application development company. I have experience in developing enterprise mobile applications by using HTML 5, CSS, JavaScript, knockout-js, server-script and java.</p>
                      </section>
                      <section class="section-header" id="future-section">
                        <h3 class="banner">Future Plans</h3>
                        <p class="">I wish to become a Software Architect and I'm interested in developing applications  which is an amalgamation of both front-end and back-end development.</p>
                      </section>
                  </article>
              </div>
              <!--<div class="section_content2">-->
        </div> 
         </div>
         <div class="row">
           <div class="col-sm-12">
              <h3 class="banner_bottom" >My University</h3>
           </div>
           <div class="col-xs-12 offset-xs-0 col-sm-12 offset-sm-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <section class="section-header">
                
                <div class="video_section">
                  <iframe width="100%" height="320px" src="https://www.youtube.com/embed/NjRKR_aSGlU"  allowfullscreen></iframe>
                </div>
            </section>
          </div>
          <div class="col-sm-12">
            <section class="section-header">
              <h3 class="banner_bottom" >Schedule</h3>
              <ol class="sch-list" type="1">
                  <li class="list-item">Web Applications (Mon, Wed -: 12:00 to 12:50 pm)</li>
                  <li class="list-item">Object Oriented Programming (Tue, Thu -: 08:00 to 09:15 am)</li>
                  <li class="list-item">Advanced Topics in Database Systems (Mon, Wed, Fri -: 11:00 to 11:50 am)</li>
                  <li class="list-item">Object Oriented Programming Lab (Tue -: 03:35 to 05:35 pm)</li>
              </ol>
            </section>
          </div>
          <div class="col-sm-12">
              <aside class="aside-header" id="aside-header">
                  <h3 class="banner_bottom asideh">Aside</h3>
                  <p class="asidep" id="asideid">I'm a quick learner and hard worker. Apart from my academics,I'm very much interested in extra curricular activities.</p>
               </aside>
          </div>
          <div class="col-sm-12">
              <footer class="footer">
                  <h2 class="footerHeading">copyright@nwmissouri.edu</h2>
               </footer>
          </div>
        </div>
       </div> 
      </main>

      <% include footer %>